/* Animations and transitions */

//Standard animation expressions:
$animateEaseInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animateEaseOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$animateEaseInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);


//Transitions
.trans-push-siblings {
    transition: all 0.4s $animateEaseInOutBack;

    &:hover {
        margin: 0 11rem;
        transform: scale(1.2);
    }
}

.hide-send-up {
    transform: translateY(-100%) !important;
}

.hide-send-up-high {
    transform: translateY(-500%) !important;
}


//Animations
@keyframes menuItemHover {
    0% {
        content: url('../img/menu-zigzag.svg');
        display: flex;
        width: 3rem;
        margin: 0 auto;
        height: auto;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        content: url('../img/menu-zigzag.svg');
        display: flex;
        width: 3rem;
        margin: 0 auto;
        height: auto;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes modalIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes modalOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


//Loader animations
@keyframes loaderElementSlideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loaderElementSlideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
