/* Fonts */

@font-face{
    font-family: "Ginger Bold";
    src: url("../fonts/F37GingerPro-Bold.otf") format("opentype");
}

@font-face{
    font-family: "Ginger Black";
    src: url("../fonts/F37GingerPro-Black.otf") format("opentype");
}