/* Navbar */

.navbar {

    z-index: 10;

    &.-main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .-lang-pick {
            display: none;
        }

        .-topbar {
            
            .social.fill-parent {
                width: unset;
            }
        }

        &.-shrunk {

            align-items: flex-start;
            min-height: unset;
            height: auto;

            div:first-of-type {
                justify-content: center;

                @media only screen and (max-width: 768px) {
                    width: calc(100% - 4rem);
                }
            }

            .-menu {
                transform: translateY(0);
            }

            .-topbar {
                @media only screen and (max-width: 768px) {
                    flex-flow: column;
                }
                @media only screen and (min-width: 769px) {
                    flex-flow: row;
                    width: 80%;
                } 
            
                .social.fill-parent {
                    @media only screen and (max-width: 768px) {
                        //
                    }
                    @media only screen and (min-width: 769px) {
                        width: 180%;
                        margin-left: 22%;
                        justify-content: flex-start;
                    } 
                }
            }

            div.social {
                flex-flow: row;

                img {
                    padding: 0 0.5rem;
                    transform-origin: center center;
                    transition: all 0.4s $animateEaseInOutBack;
                }

                img:hover {
                    margin: 0 0.15rem;
                    transform: scale(1.1);
                }

                a:hover {
                    @media only screen and (min-width: 1280px) {
                        margin-right: -21rem;
                        > .-text {
                            transform: scaleX(0);
                        }
                    }
                }
            }

            img.-icon {
                width: 3rem;
            }

            h1 {
                display: none;
                align-items: center;
                word-spacing: unset;
                font-size: 2rem;
                line-height: 2rem;
                width: auto;
                text-align: center;
            }

            .-lang-pick {
                font-family: "Ginger Bold";
                text-transform: uppercase;
                font-size: 0.7rem;
                text-align: center;
                letter-spacing: 0.15rem;
        
                padding: 0.25rem 0;
                align-items: center;
                display: flex;
                justify-content: flex-end;

                @media only screen and (max-width: 768px) {
                    position: absolute;
                    right: 3%;
                    top: 4%;
                }
            }

            .big-text {
                display: none;
            }
        }
    }

    &.-container {
        transition: all 0.4s $animateEaseInOutBack;

        @media only screen and (max-width: 768px) {
            padding: 0 2rem;
        }
        @media only screen and (min-width: 769px) {
            padding: 0 10%;
        }
    }

    &.-menu {
        transition: all 0.4s $animateEaseInOutBack;

        flex-basis: 100%;
        display: flex;
        flex-flow: row;

        transform: translateY(-2500%);

        @media only screen and (max-width: 768px) {
            padding: 0 0.75rem;
            width: calc(100% - 1.5rem);
            justify-content: space-between;
        }
        @media only screen and (min-width: 769px) {
            padding: 0 25%;
            width: 50%;
            justify-content: space-evenly;
        }
    }

    &.-menu-item {
        font-family: "Ginger Bold";
        text-transform: uppercase;
        font-size: 0.7rem;
        text-align: center;
        letter-spacing: 0.15rem;

        color: #ffffff;
        padding: 0.25rem 0;

        &:after {
            content: url('../img/menu-zigzag.svg');
            display: flex;
            width: 3rem;
            margin: 0 auto;
            height: auto;
            clip-path: inset(0 100% 0 0);
        }

        &:hover::after {
            clip-path: inset(0 0 0 0);
            animation: menuItemHover 0.5s $animateEaseInOutExpo;
        }

        &.-current:after {
            clip-path: inset(0 0 0 0);
            animation: menuItemHover 0.5s $animateEaseInOutExpo;
        }

    }
}