/* Typography */


//Sets the root rem size
html{


    @media only screen and (max-width: 320px) {
        font-size: 12px;
    }
    @media only screen and (max-width: 768px) {
        font-size: 16px;
    }
    @media only screen and (min-width: 769px) {
        font-size: 16px;
    }

}

//Utils
.auto-br {
    word-spacing: 8rem;
}

.no-decoration {
    text-decoration: none;
    cursor: pointer;
}


//Typography for titles

.main-title {
    font-family: "Ginger Bold";

    &.-really-big {
        padding: 1rem;

        @media only screen and (max-width: 768px) {
            font-size: 5.5rem;
            line-height: 5rem;
            text-align: center;
        }
        @media only screen and (min-width: 769px) {
            font-size: 12rem;
            line-height: 11.5rem;
            text-align: left;
        }
    }
}

.title {
    font-family: "Ginger Bold";


    &.-really-big {
        padding: 1rem;

        @media only screen and (max-width: 768px) {
            font-size: 5.5rem;
            line-height: 5rem;
            text-align: center;
        }
        @media only screen and (min-width: 769px) {
            font-size: 12rem;
            line-height: 11.5rem;
            text-align: left;
        }
    }

    &.-big {
        padding: 1rem;

        @media only screen and (max-width: 768px) {
            font-size: 4.5rem;
            line-height: 4rem;
            text-align: left;
        }
        @media only screen and (min-width: 769px) {
            font-size: 7rem;
            line-height: 6.5rem;
            text-align: left;
        }
    }

    &.-medium {
        padding: 1rem;

        @media only screen and (max-width: 768px) {
            font-size: 2.2rem;
            line-height: 2rem;
            text-align: left;
        }
        @media only screen and (min-width: 769px) {
            font-size: 4rem;
            line-height: 3.5rem;
            text-align: left;
        }
    }
}

.big-text {
    font-family: "Ginger Bold";

    &.-title {
        text-align: center;
        @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }
    }

    &.-subtitle {
        text-align: center;
        @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 2rem;
            line-height: 1.75rem;
        }
    }
}

.important-text {
    font-family: "Ginger Bold";

    &.-card-title {
        text-align: left;
        @media only screen and (max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.55rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 2.5rem;
            line-height: 2.75rem;
        }
    }

    &.-title {
        text-align: left;
        @media only screen and (max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.55rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 2rem;
            line-height: 1.75rem;
        }
    }

    &.-subtitle {
        text-align: left;
        @media only screen and (max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.55rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 1.35rem;
            line-height: 1.5rem;
        }
    }

    &.-tag {
        font-family: "Poppins";
        text-align: center;
        @media only screen and (max-width: 768px) {
            font-size: 0.75rem;
            line-height: 1.2rem;
        }
        @media only screen and (min-width: 769px) {
            font-size: 1.15rem;
            line-height: 1.25rem;
        }
    }
}

.article-text {
    font-family: "Poppins";



}
