<!DOCTYPE html>
{% load static %}
{% load compress %}


<html lang="pt-br">
    <head>

    {% block base-css %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
        {% compress css %}
            <link type="text/x-scss" href="{% static 'sass/main.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}
    {% endblock %}

    {% block local-css %}
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#F9C81A" />
    {% endblock %}

        <title>Thalles Sales{% block title %}{% endblock %}</title>
    </head>

    <body ic-history-elt="true">
        <div class="site">
            <!-- navbar -->
            {% include "core/navbar.html" with no_shrink=no_shrink current_page=page_settings.current_page icon_color=page_settings.icon_color stamp_color=page_settings.stamp_color %}

            <!-- page content -->
            <main>
                <input type="hidden" class="d-none" id="lang" value="{{page_settings.language}}">
                {% block content %}
                {% endblock %}
            </main>
        </div>

        {% include "core/loader.html" %}
    </body>

  <!-- scripts -->
    {% block base-scripts %}
        {% compress js %}
        <script src="{% static 'js/jquery.stripped.min.js' %}"></script>
        <script src="{% static 'js/intercooler.min.js' %}"></script>
        <script type="text/es6" src="{% static 'js/main.js' %}"></script>
        {% endcompress %}
    {% endblock %}
</html>