{% load static %}


<nav class="navbar -main -shrunk flex -col -wrap">
    <div class="navbar -container flex -wrap">
        <div class="social -container p-1 fill-parent-sm">
            <a href="#">
                <img class="social -icon c-b-to-s1" src="{% static 'img/icons/github.svg' %}">
                <span class="social -text">/pud1m</span>
            </a>
            <a href="#">
                <img class="social -icon c-b-to-s1" src="{% static 'img/icons/linkedin.svg' %}">
                <span class="social -text">/thalles-sales</span>
            </a>
        </div>
        <h1 class="title -really-big c-s1 auto-br max-50-lg">Thalles Sales.</h1>

        <div class="flex -break"></div>
        <div class="big-text -subtitle c-s1 fill-parent pt-3 flex -row -justify-center">
            <a href="#" class="trans-push-siblings px-1 c-s1 no-decoration">Português</a>
            |
            <a href="#" class="trans-push-siblings px-1 c-s1 no-decoration">English</a>
        </div>
    </div>
    <div class="navbar -menu flex -wrap">
        <a href="#" class="navbar -menu-item no-decoration">Sobre</a>
        <a href="#" class="navbar -menu-item no-decoration">Portfolio</a>
        <a href="#" class="navbar -menu-item no-decoration">Skills</a>
        <a href="#" class="navbar -menu-item no-decoration">Contato</a>
    </div>
</nav>