{% extends type %}

{% block content %}
<section class="section -container -home bg-1">
    <div class="section -home -peace"></div>
    <div class="section -home -content">
        <h1 class="title -big c-s1 auto-br max-50-lg ml-n1">Thalles Sales.</h1>
        <div class="section -home -profile-container">
            <div class="section -home -profile-info important-text -subtitle c-white m-auto">
                <span class="d-inline-block">{{data.headline}}</span>
            </div>
            <img class="section -home -profile-picture" src="{{data.picture.url}}">
        </div>
        <div class="section -home -comment article-text c-white">
            <span class="d-inline-block m-auto">{% autoescape off %}{{data.description}}{% endautoescape %}</span>
        </div>
    </div>
</section>
{% endblock %}