{% extends type %}
{% load static %}

{% block content %}
<section class="section -container -contact -main bg-4">
    <h1 class="title -really-big c-s4 max-50-lg ml-n1">{% if page_settings.language == 'pt' %}Entre em contato{% else %}Contact me{% endif %}</h1>
    <a href="mailto:thalles6alves@gmail.com" class="big-text -title c-s4 max-50-lg no-decoration">thalles6alves@gmail.com</a> 
    <a href="https://linkedin.com/in/thalles-sales/" class="big-text -subtitle c-s4 max-50-lg no-decoration">linkedin.com/in/thalles-sales/</a> 
</section>
{% endblock %}