{% extends type %}
{% load static %}

{% block content %}
<section class="section -container -portfolio bg-2">
    <h1 class="title -big c-s2 auto-br max-50-lg ml-n1">{% if page_settings.language == 'pt' %}Portfólio{% else %}Portfolio{% endif %}</h1>
    <div class="section -portfolio -list">
        {% for item in data %}
            {% include "core/components/portfolio-card.html" with data=item %}
        {% endfor %}
    </div>
    <div class="section -portfolio -modal -main bg-3 -hidden" id="portfolio_modal_main">
        <div class="section -portfolio -modal -close c-p2" id="portfolio_modal_close">X</div>
        <h2 class="title -big c-p2" id="portfolio_modal_name"></h2>
        <div class="section -portfolio -modal -phone-container">
            <video class="section -portfolio -modal -phone-video" src="" loop muted preload="auto" id="portfolio_modal_video">
                Your browser does not support the video tag
            </video>
        </div>
        <div class="section -portfolio -modal -description article-text c-white" id="portfolio_modal_description">
            
        </div>
        <div class="section -portfolio -modal -website important-text -subtitle c-p2" id="portfolio_modal_website">
            
        </div>
    </div>
</section>
{% endblock %}